!!!
%html
	%head
		%title DenúnciasJP
		%link(rel="stylesheet" href="/css/style.css")

	%body
		%img{:src => "img/denunciasjp.png", :title => 'DenúnciasJP', :alt => 'DenúciasJP'}
		.notfound
			Página não encontrada. :(