<script type="text/x-handlebars-template" id="denuncias-list-template">
	<h4>Testando Template</h4>
	<table>
		<thead>
			<tr>
				<th>Denúncia</th>
				<th>Autor</th>
			</th>
		</thead>
		<tbody>
			<tr>
			{{#each denuncias}}
				<th>{{resumo}}</th>
				<th>{{data}}</th>
			{{/each}}
		<tbody>
	</table>
</script>