.principal
	.blocodenuncias
		.titulo Denúncias Recentes
		.denuncia-sem-cor
			.titulo-denuncia Lixo no parque
			.autor Autor: Fulano de tal
		.denuncia-sem-cor
			.titulo-denuncia Lixo no parque
			.autor Autor: Fulano de tal
		.denuncia-sem-cor
			.titulo-denuncia Lixo no parque
			.autor Autor: Fulano de tal
		.denuncia-sem-cor
			.titulo-denuncia Lixo no parque
			.autor Autor: Fulano de tal
		.mais <a href="denuncias">Mais <span class="red"><strong>+</strong></span></a>
	.blocopopulares
		.titulo Denúncias Populares
		.denuncia-cor
			.titulo-denuncia Lixo no parque
			.autor Autor: Fulano de tal
		.denuncia-cor
			.titulo-denuncia Lixo no parque
			.autor Autor: Fulano de tal
		.denuncia-cor
			.titulo-denuncia Lixo no parque
			.autor Autor: Fulano de tal
		.denuncia-cor
			.titulo-denuncia Lixo no parque
			.autor Autor: Fulano de tal