<!doctype html>
<html>
<head>
	<title>DenúnciasJP</title>
	<meta charset="UTF-8">
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<script type="text/javascript" src="js/libs/jquery.js"></script>

	<script type="text/javascript">

		$(document).ready(function(){
 			$('#panel').hide();

 			iniciar = 0

 			$('#mostrar').click(function(event){
 				event.preventDefault();
 				if(iniciar == 0){
 					$("#panel").show("slow");
 					iniciar++;
 				}else{
 					$("#panel").hide("slow");
 					iniciar = 0;
 				}
 		});
 	});

		$("cadastro").submit(function(){
			alert('Cliente Cadastrado com Sucesso!');	
		});

</script>
</head>



<body>
	<section id="login">
		<img src="../img/denunciasjp.png" />
		<div class="painel-login">
			<form method="POST" action="login">
				<input type="text" placeholder="Usuário" name="user"/>
				<input type="text" placeholder="Senha" name="pwd" />
				<button>Login</button>
				<br><br>
				<a href="#" id="mostrar">Não cadastrado ainda?</a>
			</form>

		</div>

			<div id="panel">
				<form method="post" class="form-cadastre-se" action="usuarios" enctype="multipart/form-data" id="cadastro">
					
					<label>Nome</label><br>
					<input id="nome" type="text" size="50" class="usuario-nome" name="nome">
					<br>
					<label>Email</label><br>
					<input id="email" type="text" size="50" class="usuario-email" name="email">
					<br>
					<label>Login</label><br>
					<input id="login" type="text" size="50" class="usuario-login" name="login">
					<br>
					<label>Senha</label><br>
					<input id="senha" type="password" size="50" class="usuario-senha" name="senha">
					<br>
					<br>
					<button class="btn-cadastrar-usuario">+ Cadastrar</button>
				</form>
			</div>
	</section>
</body>
</html>