<!doctype html>
<html>
<head>
	<title>DenúnciasJP</title>
	<meta charset="UTF-8">
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
	<section id="login">
		<img src="../img/denunciasjp.png" />
		<div class="painel-login">
			<form method="POST" action="login">
				<input type="text" placeholder="Usuário" name="user"/>
				<input type="text" placeholder="Senha" name="pwd" />
				<button>Login</button>
			</form>
		</div>
	</section>
</body>
</html>