body{
	background-image: url('../img/bckg.png');
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	margin-top: 30px;
}

.topo{
	margin: 0 auto;
	width: 1005px;
	position: relative;	
}

.topo img{
	float: left;
	position: relative;
}

.topo form input{
	width: 500px;
	border-radius: 10px;
	border: 5px #e8e8e8 solid;
	height: 40px;
	outline: none;
	float: left;
	margin: 10px 0 0 62px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	color: gray;
	text-indent: 5px;
	background-image: url('../img/lupa.png');
	background-repeat: no-repeat;
	background-position: 460px;
	z-index: 10;
}

.topo form button{
	float: left;	
	border-radius: 6px;
	border: none;
	width: 100px;
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	background-color: #848484;
	color: #fff;
	margin: 10px 0 0 14px;
}

.topo ul{
	width: 1005px;
	float: left;
	font-size: 12pt;
	z-index: 30;
	list-style-type: none;
	padding-bottom: 8px;
}

.topo li{
	width: 140px;
	float: left;
	padding: 1px;
	margin: 0 20px 0 -39px;
}

.topo li.home{
	background: url('../img/icone-home.png') no-repeat 0px 0px;
	padding-right: 40px;
}

.topo li.denuncia{
	background: url('../img/icone-denuncia.png') no-repeat 0px 0px;
	padding-right: 60px;
	padding-left: 22px;
}

.topo li.cadastre-se{
	background: url('../img/icone-cadastro.png') no-repeat 0px 0px;
	padding-right: 25px;
	padding-left: 0px;
}

.topo li.como-funciona{
	background: url('../img/icone-como-funciona.png') no-repeat 10px 0px;
	padding-right: 40px;
	padding-left: 22px;
}

.topo img.barra{
	bottom: 6px;
	padding-bottom: 15px;
}

#content{
	position: relative;
	bottom: 20px;
}

.topo button a:hover{
	text-decoration: underline;
}

.topo li a{
	text-decoration: none;
	color: black;
	float: left;
	width: 140px;
}

.topo li a:active{
	text-decoration: none;
	color: black;
}

.topo li a:hover{
	color: black;
	text-decoration: underline;
}

#content .titulo{
	width: 640px;
	padding: 5px;
	float: left;	
	background-image: url('../img/transversal.png');
	font-size: 16pt;
	border-left: 6px blue solid;
	height: auto;
	text-indent: 4px;
	text-align: left;
}

.denuncias-recentes{
	float: left;
	width: 652px;
	height: 30px;
	margin: 5px 0 0 0px;
	text-align: left;	
}

.denuncias-recentes .autor{
	color: #c8c8c8;
	font-size: 11pt;
}

.lista-denuncia{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 5px;
}

.mais-denuncias{
	float: right;
	font-size: 10pt;
	text-decoration: underline;
}

#menu{
	float: left;
	position: relative;
	bottom: 20px;
}

.conteudo{
	float: left;
	width: 652px;
	height: 30px;
	margin: 13px 0 0 0;
	text-align: left;
}

#menu .menu{
	border: 1px solid black;
	width: 300px;
	margin: 13px 0 0 20px;
	border: 1px #cecece solid;
	border-radius: 4px;
}

#footer img{
	margin: 600px 0 0 0;
}


.form-registrar-denuncia {
	position: relative;
	top: 10px;
}

.form-cadastre-se {
	position: relative;
	top: 10px;
}

.titulo-cadastre-se{
	width: 640px;
	padding: 5px;
	float: left;	
	background-image: url('../img/transversal.png');
	font-size: 16pt;
	border-left: 6px red solid;
	height: auto;
	text-indent: 4px;
	text-align: left;
}

.form-cadastre-se .usuario-nome, .usuario-email, .usuario-login, .usuario-senha{
	font-family: 'Open Sans', sans-serif;
	text-indent: 5px;
	color: gray;
	font-size: 12pt;
	border: 1px #cecece solid;
	height: 30px;
	width: 500px;
	border-radius: 4px;
	outline: none;
	margin-bottom: 10px;
}

.login-user, .login-senha{
	font-family: 'Open Sans', sans-serif;
	text-indent: 5px;
	color: gray;
	font-size: 12pt;
	border: 1px #cecece solid;
	height: 30px;
	width: 250px;
	border-radius: 4px;
	outline: none;
	margin-bottom: 10px;
}

.form-login button{
	background-color: #848484;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: white;
	padding: 5px;
	border-radius: 5px;
	position: relative;
	top: 0px;

}

.form-cadastre-se button{
	background-color: #848484;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: white;
	padding: 5px;
	border-radius: 5px;
	position: relative;
	bottom: 18px;

}

.titulo-registrar-denuncia{
	width: 640px;
	padding: 5px;
	float: left;	
	background-image: url('../img/transversal.png');
	font-size: 16pt;
	border-left: 6px red solid;
	height: auto;
	text-indent: 4px;
	text-align: left;
}

.form-registrar-denuncia .denuncia-resumo, .denuncia-endereco{
	font-family: 'Open Sans', sans-serif;
	text-indent: 5px;
	color: gray;
	font-size: 12pt;
	border: 1px #cecece solid;
	height: 30px;
	width: 500px;
	border-radius: 4px;
	outline: none;
	margin-bottom: 10px;
}

.form-registrar-denuncia  textarea{
	font-family: 'Open Sans', sans-serif;
	text-indent: 5px;
	border: 1px #cecece solid;
	font-size: 12pt;
	color: gray;
	height: 150px;
	width: 518px;
	border-radius: 4px;
	outline: none;
	margin-bottom: 10px;
}

.form-registrar-denuncia .denuncia-foto{
	font-size: 10pt;
	height: 30px;
	width: 300px;
	border: none;
	color: black;
	outline: none;
	margin-bottom: 10px;
}

.form-registrar-denuncia button{
	background-color: #848484;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: white;
	padding: 5px;
	border-radius: 5px;
	position: relative;
	bottom: 18px;

}

.autor{
	font-size: 10pt;
	color: #696969;
}

.lista-denuncias{
	position: relative;
	top: 5px;
	border-bottom: 3px white solid;
}

.lista-denuncias a{
	color: black;
	text-decoration: none;
}

.lista-denuncias a:hover{
	color: black;
	text-decoration: underline;
}

hr{
	background-color: #e8e8e8;
	height: 1px;
	border: none;
	margin: 0 0 10px 0;
}

.conteudo .foto{
	font-size: 10pt;
}

.conteudo .titulo-denuncia{
	width: 640px;
	padding: 5px;
	float: left;	
	background-image: url('../img/transversal.png');
	font-size: 16pt;
	border-left: 6px brown solid;
	height: auto;
	text-indent: 4px;
	text-align: left;
}
<<<<<<< HEAD

.conteudo .denunciar {
	float: right;
	position: relative;
	bottom: 80px;
}

.erros{
	background-color: #FFE4E1;
	margin: 5px 0 0 0;
	float: left;
	color: red;
	padding: 4px;
	width: 647px;
	height: auto;
}

.contador {
	float: right;
	margin: 6px 120px 0 0;
}

.titulo-como-funciona{
	background-image: url('../img/transversal.png');
	width: 640px;
	font-size: 16pt;
	border-left: 6px pink solid;
	padding: 5px;
	text-indent: 4px;
}

.formato{
	bottom: 15px;
	position: relative;
	font-size: 10pt;
	font-weight: bold;
}

.line-denuncia{
	position: relative;
	top: 10px;
}

.detalhe-denuncia {
	position: relative;
	top: 10px;
}

.detalhe-denuncia a{
	color: black;
	text-decoration: none;
}

.detalhe-denuncia a:hover{
	color: black;
	text-decoration: underline;
}

.swipebox{
	font-size: 10pt;
}
=======
>>>>>>> parent of 153f4cd... contador de caracteres flash messages implementados
