.principal
	.titulo-registrar-denuncia Registrar Denúncia
	- pp params[:denuncia]
	- if session[:errors]
		.erros
			- session[:errors].each do |e|
				.p= e.delete '["]', '"[]"'
			.p= session[:errofoto]
	.form-add
		%form{:action => 'denuncias', :method => 'post',:enctype => 'multipart/form-data'}
			%label Resumo
			%input{:type => 'text', :class => 'titulo', :name => 'resumo', :value => params[:resumo] }
			.contador
			%br
			%label Endereço
			%input{:type => 'text', :name => 'endereco', :value => params[:endereco]}
			%br
			%label Descrição
			%br
			%textarea{:name => 'denuncia'} #{params[:denuncia]}
			%br
			%label Foto
			%input{:type => 'file', :class => 'file', :name => 'foto', :value => params[:foto]}
			.formato * Formato aceito: jpeg
			%br
			%button{:type =>'Submit'} + Registrar
